/* CSS Document */

:root {
  --bg: #fefefe;
  --bg-primary: #ebebeb;
  --color-primary: #6d6d6d;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--bg);
  margin: 0px;
  padding: 0px;
  color: var(--color-primary);
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

hr {
  border: solid 1px var(--color-primary);
  border-radius: 1000px;
  margin: 0px 24px;
}

.navbar {
  width: 100%;
  background-color: var(--bg-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbar h1 {
  font-weight: bolder;
  margin: 12px;
}

.navbar ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  margin-bottom: 12px;
}

.navbar ul li {
  display: inline;
  margin: 12px;
  font-weight: lighter;
}

.games {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  overflow: scroll;
  padding: 0px 12px;
  margin: 24px 0px;
  flex-shrink: 0;
  z-index: 1;
  height: 140px;

  /* Box Fades */
  background: var(--bg);
  background: linear-gradient(90deg, #00000002 0%, #ffffff 49%, #00000003 100%);
}

.games a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--color-primary);
  border-radius: 12px;
  margin: 0px 12px;
  min-width: 220px;
  min-height: 120px;
  background-color: var(--bg-primary);
  transition: 0.3s ease-in-out;
  font-size: 32px;
  font-weight: bold;
  background-size: cover;
  color: transparent;
}

.games a:hover {
  box-shadow: 0 0.5px 1px 0 rgba(0, 0, 0, 0.2),
    0 0.5px 2.5px 0 rgba(0, 0, 0, 0.19);
  transform: scale(1.1);
  color: #d1d1d185;
}

.categoryHeader {
  margin-left: 24px;
  margin-bottom: 0px;
  font-weight: bolder;
  font-size: 20px;
}

/* Unity */
#unity-loading-bar {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

#unity-progress-bar-empty {
  width: 141px;
  height: 18px;
  margin-top: 10px;
  margin-left: 6.5px;
  background: url("./images/progress-bar-empty-dark.png") no-repeat center;
}

#unity-progress-bar-full {
  width: 0%;
  height: 18px;
  margin-top: 10px;
  background: url("./images/progress-bar-full-dark.png") no-repeat center;
}

#unity-warning {
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translate(-50%);
  background: white;
  padding: 10px;
  display: none;
}

/* Unity */
.main {
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.unityContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#unity-canvas {
  background: #000000;
  margin: 12px 0px;
}

#unity-fullscreen-button {
  width: 32px;
  height: 32px;
  float: right;
}

#unity-fullscreen-button:hover {
  cursor: pointer;
}

.gameHeader {
  margin: 0px;
}

.gameHeaderHr {
  margin: 12px 0px;
}
